<div class="row">
	<div class="col-lg-12">
		<div class="user-info">
			<h1 class="user-info__hello">Hello user !</h1>
			<img src="../assets/images/user.png" alt="logo" class="user-info__img" routerLink="">
			<div class="user-info__detail">
				<div class="detail__block ">
					<label class = "block__item">First Name:</label>
					<label class = "block__item block__item_answer">{{currentUser?.firstname}}</label>
				</div>
				<div class="detail__block">
					<label class = "block__item">Last Name:</label>
					<label class = "block__item block__item_answer">{{currentUser?.lastname}}</label>
				</div>
				<div class="detail__block">
					<label class = "block__item">Age:</label>
					<label class = "block__item block__item_answer">{{currentUser?.age}}</label>
				</div>
				<div class="detail__block">
					<label class = "block__item">Country:</label>
					<label class = "block__item block__item_answer">{{currentUser?.country}}</label>
				</div>
			</div>
			<input type="submit" value="edit" class="user-info__button user-info__button-edit"  (click)="edit()">
			<input type="submit" value="logout" class="user-info__button user-info__button-logout"  (click)="logout()">
		</div>
	</div>
</div>


